.input-simple {
    padding: 0.5rem 1rem;
    border: 1.5px solid;
    border-radius: 4px;
    font-size: 1.65rem;
    min-width: 30rem;
}

.input-success {
    color: var(--success-darker);
}
.input-info-success {
    color: var(--success-darker);
    font-weight: 500;
}

.input-warning {
    color: var(--warning-dark);
}
.input-info-warning {
    color: var(--warning-darker);
    font-weight: 500;
}

.input-error {
    color: var(--error-dark);
}
.input-info-error {
    color: var(--error-darker);
    font-weight: 500;
}