<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b24c8ca7df.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <link href="../../styles/components.css" rel="stylesheet" />
    <link href="../../styles/styles.css" rel="stylesheet" />
    <title>Falcon UI</title>
  </head>
  <body>
    <!-- header starts here -->
    <nav>
      <label class="nav-brand">Falcon UI</label>
      <ul class="nav-pills-list">
        <li class="nav-pills"><a href="#">Docs</a></li>
        <li class="nav-pills">
          <a href="https://github.com/nisargpawade"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="nav-pills">
          <a href="https://twitter.com/NisargPawade"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
      </ul>
    </nav>
    <!-- header ends here -->

    <div class="docs-body">
      <!-- sidebar starts here -->
      <div class="side-bar">
        <ul class="sidebar-list">
          <li class="sidebar-label"><label>Getting Started</label></li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="#">Documentation</a>
          </li>
          <li class="sidebar-label"><label>Components</label></li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="./alert.html">Alert</a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../avatar/avatar.html">Avatar</a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../badge/badge.html">Badge</a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../button/button.html">Buttons</a>
          </li>
          <li class="sidebar-li"><a class="sidebar-link" href="../card/card.html">Cards</a></li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../image/image.html">Images</a>
          </li>
          <li class="sidebar-li"><a class="sidebar-link" href="./input.html">Input</a></li>
          <li class="sidebar-li"><a class="sidebar-link" href="../list/list.html">Lists</a></li>
          <li class="sidebar-li"><a class="sidebar-link" href="../text-utilities/text-utilities.html">Text Utilities</a></li>
        </ul>
      </div>
      <!-- sidebar ends here -->

      <main class="main-content-container">
        <h1>Input</h1>
        <p>Text fields allow user input.</p>

        <h2>Textbox</h2>
        <p>
          Use class <code>input-simple</code> for simple textbox to input your data.
        </p>

        <div class="display-container">
            <input class="input-simple" placeholder="Input Area"></input>
        </div>

          <pre><code class="display-code language-html">
            &lt;input class="input-simple" placeholder="Input Area"&gt;&lt;/input&gt;
          </code></pre>

        <h2>Error success inputs</h2>
        <p>
          Add class <code>input-success input-warning input-error</code> along with <code>input-info-success input-info-warning input-info-error</code> for below output.
        </p>

        <div class="display-container">
            <div class="margin-b-1">
                <p>Email</p>
                <input class="input-simple input-success" placeholder="Please enter your email"></input>
                <p class="p-sm input-info-success">email is correct</p>
            </div>
            <div class="margin-b-1">
                <p>Phone No.</p>
                <input class="input-simple input-warning" placeholder="Please enter your phone no"></input>
                <p class="p-sm input-info-warning">phone no. must have 10 characters</p>
            </div>
            <div class="margin-b-1">
                <p>Password</p>
                <input class="input-simple input-error" placeholder="Please enter your password"></input>
                <p class="p-sm input-info-error">password is wrong</p>
            </div>
        </div>

          <pre><code class="display-code language-html">
            &lt;div class="margin-b-1">
                &lt;p>Email&lt;/p>
                &lt;input class="input-simple input-success" placeholder="...">&lt;/input>
                &lt;p class="p-sm input-info-success">email is correct&lt;/p>
            &lt;/div>
            &lt;div class="margin-b-1">
                &lt;p>Phone No.&lt;/p>
                &lt;input class="input-simple input-warning" placeholder="...">&lt;/input>
                &lt;p class="p-sm input-info-warning">phone no. must have 10 characters&lt;/p>
            &lt;/div>
            &lt;div class="margin-b-1">
                &lt;p>Password&lt;/p>
                &lt;input class="input-simple input-error" placeholder="...">&lt;/input>
                &lt;p class="p-sm input-info-error">password is wrong&lt;/p>
            &lt;/div>
          </code></pre>
          
      </main>
    </div>
  </body>
</html>
