.avatar {
    width: 6rem;
    border-radius: 50%;
}

.avatar-l{
    width: 10rem;
}

.avatar-m{
    width: 8rem;
}

.avatar-s{
    width: 4rem;
}

.avatar-sq {
    width: 6rem;
    border-radius: 8px;
}

.avatar-sq-l{
    width: 10rem;
    border-radius: 1rem;
}

.avatar-sq-m{
    width: 8rem;
    border-radius: 1rem;
}

.avatar-sq-s{
    width: 4rem;
    border-radius: 6px;
}