<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b24c8ca7df.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <link href="../../styles/components.css" rel="stylesheet" />
    <link href="../../styles/styles.css" rel="stylesheet" />
    <title>Falcon UI</title>
  </head>
  <body>
    <!-- header starts here -->
    <nav>
      <label class="nav-brand">Falcon UI</label>
      <ul class="nav-pills-list">
        <li class="nav-pills"><a href="#">Docs</a></li>
        <li class="nav-pills">
          <a href="https://github.com/nisargpawade"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="nav-pills">
          <a href="https://twitter.com/NisargPawade"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
      </ul>
    </nav>
    <!-- header ends here -->

    <div class="docs-body">
      <!-- sidebar starts here -->
      <div class="side-bar">
        <ul class="sidebar-list">
          <li class="sidebar-label"><label>Getting Started</label></li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../../docs.html">Installation</a>
          </li>
          <li class="sidebar-label"><label>Components</label></li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../alert/alert.html">Alert</a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../avatar/avatar.html">Avatar</a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../badge/badge.html">Badge</a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../button/button.html">Buttons</a>
          </li>
          <li class="sidebar-li"><a class="sidebar-link" href="../card/card.html">Cards</a></li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../image/image.html">Images</a>
          </li>
          <li class="sidebar-li"><a class="sidebar-link" href="../input/input.html">Input</a></li>
          <li class="sidebar-li"><a class="sidebar-link" href="./list.html">Lists</a></li>
          <li class="sidebar-li">
            <a class="sidebar-link" href="../navbar/navbar.html">Navbar</a>
          </li>
          <li class="sidebar-li"><a class="sidebar-link" href="../text-utilities/text-utilities.html">Text Utilities</a></li>
        </ul>
      </div>
      <!-- sidebar ends here -->

      <main class="main-content-container">
        
          <h1>List</h1>
          <p>Lists are used to show list items.</p>
  
          <h2>Simple List</h2>
          <p>
            Use class <code>list-container</code> for simple list given below.
          </p>
  
          <div class="display-container">
              <ul class="list-container p-md">
                <p class="p-lg fw-semi-bold">List Header</p>
                <li> Item 1</li>
                <li> Item 2</li>
                <li> Item 3</li>
              </ul>
          </div>
  
          <pre><code class="display-code language-html">
              &lt;ul class="list-container p-md"&gt;
              &lt;p class="p-lg fw-semi-bold"&gt;List Header&lt;/p&gt;
                &lt;li&gt; Item 1&lt;/li&gt;
                &lt;li&gt; Item 2&lt;/li&gt;
                &lt;li&gt; Item 3&lt;/li&gt;
              &lt;/ul&gt;
          </code></pre>

          <h2>Stacked List</h2>
          <p>
            Use class <code>list-stacked-container</code> for stacked list.
          </p>
  
          <div class="display-container">
              <ul class="list-stacked-container p-md">
                <li><p class="margin-l-1"> I have a notification 1</p>
                  <p class="p-sm margin-l-1">some description about notification</p>
                </li>
                <li><p class="margin-l-1"> I have a notification 2</p>
                  <p class="p-sm margin-l-1">some description about notification</p>
                </li>
                <li><p class="margin-l-1"> I have a notification 3</p>
                  <p class="p-sm margin-l-1">some description about notification</p>
                </li>
              </ul>
          </div>
  
          <pre><code class="display-code language-html">
            &lt;ul class="list-stacked-container p-md"&gt;
              &lt;li&gt;&lt;p class="margin-l-1"&gt; I have a notification 1&lt;/p&gt;
                &lt;p class="p-sm margin-l-1"&gt;some description about notification&lt;/p&gt;
              &lt;/li&gt;
              &lt;li&gt;&lt;p class="margin-l-1"&gt; I have a notification 2&lt;/p&gt;
                &lt;p class="p-sm margin-l-1"&gt;some description about notification&lt;/p&gt;
              &lt;/li&gt;
              &lt;li&gt;&lt;p class="margin-l-1"&gt; I have a notification 3&lt;/p&gt;
                &lt;p class="p-sm margin-l-1"&gt;some description about notification&lt;/p&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          </code></pre>
        
      </main>
    </div>
  </body>
</html>
