.alert {
  font-size: 1.5rem;
  width: 50rem;
  background-color: var(--inactive);
  padding: 1.5rem 2rem;
  margin: 1rem;
  border-radius: 5px;
}
.alert i {
  font-size: 1.75rem;
}

.alert span {
  margin-left: 2rem;
}
