@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css");
@import url("../components/alert/alert.css");
@import url("../components/avatar/avatar.css");
@import url("../components/badge/badge.css");
@import url("../components/button/button.css");
@import url("../components/card/card.css");
@import url("../components/image/image.css");
@import url("../components/input/input.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;

  --primary-color: #67e8f9;
  --primary-dark: #22d3ee;
  --black-color: #1c1917;
  --white: #f5f5f4;
  --box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);;
  --translucent: rgba(0, 0, 0, 0.4);
  --inactive: #d6d3d1;
  --inactive-light: #e7e5e4;
  --success: #86efac;
  --success-dark: #4ade80;
  --success-darker: #16a34a;
  --warning: #fcd34d;
  --warning-dark: #fbbf24;
  --warning-darker: #d97706;
  --error: #f87171;
  --error-dark: #ef4444;
  --error-darker: #b91c1c;
  --info: #7dd3fc;
  --info-dark: #38bdf8;
}

h1 {
  font-size: 3.2rem;
  margin: 10px 0 4px 0;
}

h2 {
  font-size: 2.5rem;
  margin: 6px 0;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.75rem;
  margin: 4px 0;
}

small {
  font-size: 1.2rem;
}

.p-small {
  margin: 4px 0px;
  font-size: 1.4rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.margin-t-1 {
  margin-top: 1rem;
}

.margin-l-1 {
  margin-left: 1rem;
}

.margin-r-1 {
  margin-right: 1rem;
}

.padding-1 {
  padding: 1rem;
}