@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css");
@import url("../components/alert/alert.css");
@import url("../components/avatar/avatar.css");
@import url("../components/badge/badge.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;

  --primary-color: #67e8f9;
  --black-color: #1c1917;
  --success: #bef264;
  --warning: #fcd34d;
  --error: #f87171;
  --info: #7dd3fc;
}

h1 {
  font-size: 3.2rem;
  margin: 10px 0 4px 0;
}

h2 {
  font-size: 2.5rem;
  margin: 6px 0;
}

p {
  font-size: 1.75rem;
  margin: 4px 0;
}
